.front-pic{
	height: 40%;
	width: 100%;
}

#title{
	float: left;
	text-align: left;
	height: 60px;
	width:90%;
}
h1{
	vertical-align: text-bottom;
  position: relative;
  font-weight: bold;
  left: 2%;
  color:red;
}

.navig div{
  height:50px
}

.button li{
  position: relative;
  padding: 15px 20px;
  left: 27%;
	display: inline;
  font-size: 150%;
}

.button li a{
  color: Black;
}

.button li:hover a{
  font-size: 30px;
}

.presentation div{
  display: block;
  vertical-align: top;
  height: 100px;
  width: 40%;
  margin-right: 10px;
  margin-left: 10px;
}

.portrait img{
  position: absolute;
  right: 100px;
  top : 550px;
  margin-left: 500px;
  height: 350px;
  width : 450px;
}

#text p{
  position: relative;
  left: 100px;
  font-size: 17px;
  width: 550px;
}
