body{
  background-image: 'http://www.freestockphotos.name/wallpaper-original/wallpapers/vector-open-old-book-2761.jpg';
    }

.front-pic{
	height: 20%;
	width: 100%;
}

#title{
	float: left;
	text-align: left;
	height: 120px;
	width:90%;
}
h1{
	vertical-align: text-bottom;
  position: relative;
  font-weight: bold;
  left: 2%;
  color:red;
}

.navig div{
  height:50px
}

.button li{
  position: relative;
  padding: 15px 20px;
  left: 27%;
	display: inline;
  font-size: 150%;
}

.button li a{
  color: Black;
}

.button li:hover a{
  font-size: 30px;
}

