img {
	width:270px;
	height:350px;
}

.front-pic{
	height: 350px;
	width: 100%;
}

.navig div{
  height:70px
}

.button li{
  position: relative;
  padding: 15px 20px;
  left: 27%;
	display: inline;
  font-size: 150%;
}

table {
  margin-left:30px;
  margin-right:30px;
}

.menu-pic td{
  padding:20px 20px 0px 20px;
}

.description td{
  text-align:center;
  font-family:"Comic Sans MS", cursive, sans-serif;
}
